<!-- <app-page-banner [title]="title"></app-page-banner> -->

<div class="bar"></div>
<div class="container" *ngIf="!isLoading && !noResponse">
    <div class="row justify-content-center mt-3" *ngIf="user || contractor || category">
        <h1 class="m-3 bg-dark text-white p-3 rounded shadow text-center" *ngIf="user"
            [routerLink]="['/profile']">User: {{ user.name }}</h1>
        <h1 class="m-3 bg-dark text-white p-3 rounded shadow text-center" *ngIf="contractor"
            [routerLink]="['/profile/contractors',contractor.id]">Contractor: {{ contractor.name }}</h1>
        <h1 class="m-3 bg-dark text-white p-3 rounded shadow text-center" *ngIf="category">
            Category: {{ category.category }}
        </h1>
    </div>
    <div class="row justify-content-center mt-3">
        <a class="nav-link btn shadow rounded btn-outline-primary"
            *ngIf="tokenAuth.currentUserType == 'CONTRACTOR' && tokenAuth.userSignedIn()"
            [routerLink]="['/tutorials/create']">Add More
            Posts!</a>
    </div>
    <div class="row justify-content-center body" *ngIf="tutorials.length > 0">
        <section class="cards-wrapper">
            <div class="card-grid-space"
                *ngFor="let tutorial of tutorials | paginate: { itemsPerPage: 9, currentPage: p }; let i = index">
                <div class="num">{{ i+1 }}</div>
                <a class="card" [routerLink]="['/tutorials',tutorial.id]"
                    style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
                    <div>
                        <div class="date">{{ tutorial.created_at | slice:0:10 }}</div>
                        <h1 class="mt-3">{{ tutorial.title }}</h1>
                        <p>{{ tutorial.body | slice:0:120 }}..</p>
                        <h5 class="mt-2 mb-3">By: {{tutorial.contractor.name }}</h5>
                        <div class="tags">
                            <div class="tag text-dark">{{tutorial.category.category }}</div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
    <hr>
    <div class="text-center border rounded pt-3 pr-5" *ngIf="tutorials.length > 0">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
    <div class="row justify-content-center body p-3" *ngIf="tutorials.length == 0">
        <h2 class="mt-5">No tutorials yet!</h2>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-no-response *ngIf="noResponse"></app-no-response>