.container{
    margin-top: 200px;
    padding: 50px;
    max-width: 500px;
    min-width: 280px;
}

.spacing {
    margin: 6rem auto;
}

.main{
    display: block;
    color: whitesmoke;
    /* border: 1px solid whitesmoke; */
    border-radius: 5px;
    padding: 5px;
    min-height: 50%;
    background-color: rgb(0, 24, 48);
  }