<app-page-banner *ngIf="!toProfile" [title]="title"></app-page-banner>

<div *ngIf="!isLoading" class="spacing">
  <div *ngFor="let post of posts">
    <div class="container">
      <div class="post-card">
        <div class="post-card__nav">
          <ul>
            <li>
              <a [routerLink]="['/posts/',post.id]" class="active"><i class="fas fa-eye"></i></a>
            </li>
          </ul>
        </div>
        <div class="post-card__content m-2" [routerLink]="['/posts/',post.id]">
          <div class="post-card__info">
            <button class="btn btn-info btn-sm mr-2" *ngIf="('manage' | able: 'Post')"
              (click)="deletePost(post.id)">Delete</button>
            <h1>{{post.title}}</h1>
            <h5><span>Posted by:</span>&nbsp;{{post.user.name}}</h5>
            <h4 *ngIf="post.system.address">
              <span>Location:</span>&nbsp;{{post.system.address}}, {{post.system.city}}, {{post.system.country}}</h4>
            <h4 *ngIf="!post.system.address">
              <span>Location:</span>&nbsp;{{post.system.address}},{{post.system.city}},{{post.system.country}}</h4>
            <h5><span>Posted at</span>&nbsp;{{post.created_at}}</h5>
            <p>{{post.description}}</p>
            <!-- <p>{{post.description}}</p> -->
            <mat-card class="text-center">
              <mat-card-content class="border border-danger rounded p-1 text-center">
                <p><b>Total Panels:</b> {{post.system.calculation.panels_num}} || <b>Panel Watt:</b>
                  {{post.system.calculation.panel_watt}}</p>
                <p><b>Total Batteries:</b> {{post.system.calculation.batteries_num}} || <b>Battery AH:</b>
                  {{post.system.calculation.battery_Ah}}</p>
                <p><b>Inverter Watt:</b> {{post.system.calculation.inverter_watt}} || <b>Total Inverters:</b>
                  {{post.system.calculation.system_circuits}}</p>
                <p><b>Mppt Amper:</b> {{post.system.calculation.mppt_amp}} || <b>Total mppts:</b>
                  {{post.system.calculation.system_circuits}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
