<app-page-banner *ngIf="!toProfile" [title]="title"></app-page-banner>
<div class="container" *ngFor="let notification of notifications">
    <div class="row justify-content-center">
        <div class="col-lg-8 border m-3 p-2">
            <div>{{notification.key}}</div>
            <div>{{notification.owner_id}}</div>
            <div>{{notification.owner_type}}</div>
            <div *ngIf="notification.owner_type == 'Contractor'">proposal: {{notification.trackable.proposal}}</div>
            <div *ngIf="notification.owner_type == 'Contractor'">price: {{notification.trackable.price}}</div>
        </div>
    </div>
</div>