<app-page-banner *ngIf="!toProfile" [title]="title"></app-page-banner>
<div *ngIf="notifications.length > 0" class="container">
  <div *ngFor="let notification of notifications" class="my-3">
    <div *ngIf="notification.owner_type == 'Contractor' && notification.trackable_type == 'Offer'">
      <mat-card><a [routerLink]="['/profile/contractors/'+notification.owner.id]">{{notification.owner.name}}</a> has
        {{notification.key.split('.')[1]}}d an {{notification.key.split('.')[0]}} for your
        <a [routerLink]="['/posts/',notification.trackable.post_id]">post</a>
        <mat-card class="m-1">
          <div>
            <h5>Proposal</h5>
            <p>{{notification.trackable.proposal}}</p>
          </div>
          <div>
            <h5>Price</h5>
            <p>{{notification.trackable.price}}</p>
          </div>
        </mat-card>
      </mat-card>
    </div>
    <div *ngIf="notification.owner_type == 'User' && notification.trackable_type == 'Post'">
      <mat-card><a [routerLink]="['/posts/',notification.trackable.post_id]" href="">{{notification.owner.name}}</a> has
        {{notification.key.split('.')[1]}}d his post
        <mat-card class="m-1">
          <div>
            <h5>title</h5>
            <p>{{notification.trackable.title}}</p>
          </div>
          <div>
            <h5>description</h5>
            <p>{{notification.trackable.description}}</p>
          </div>
        </mat-card>
      </mat-card>
    </div>
    <div *ngIf="notification.trackable_type == 'Message'">
      <mat-card>
        <a *ngIf="notification.owner_type == 'Contractor'" [routerLink]="['/profile/contractors/'+notification.owner.id]">{{notification.owner.name}}</a><span *ngIf="notification.owner_type == 'User'">{{notification.owner.name}}</span> has
        sent you a new <a [routerLink]="['/inbox']">message</a>
        <mat-card class="m-1">
          <div>
            <h5>Message</h5>
            <p>{{notification.trackable.content}}</p>
          </div>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="notifications.length == 0" class="mt-5">
  <p class="text-center">No Notifications yet</p>
</div>