.contractor-profile {
    margin: 6rem auto;
}

.chat {
    bottom: 5rem;
}

/* .chat-icon {
    position: fixed;
    right: 3rem;
    bottom: 2rem;
    padding: 1rem 1rem 0.8rem;
    font-size: 1.3rem;
    border-radius: 50%;
    z-index: 2;
    background: #dc3545;
    color: white;
    cursor: pointer;
    outline: none;
} */