<app-go-to-top></app-go-to-top>
<app-page-banner [title]="title"></app-page-banner>

<div class="container" *ngIf="!isLoading && !noResponse">
    <div class="floating-icon chat" title="Chat Now" *ngIf="isContractor" [routerLink]="['/chat/'] + user.id">
        <i class="fas fa-comment-alt"></i>
    </div>
    <div class="card user-profile">
        <div class="card-body mx-5">
            <div class="text-center mb-5 justify-content-center">
                <img [src]="user.avatar ? user.avatar : '/assets/images/avatar.webp'" width=100 height=100>
                <h2 class="mt-2">{{ user.name }}</h2>
                <h4 class="card-text" *ngIf="user.address">{{ user.address }}</h4>
                <h4 class="card-text">{{ user.email }}</h4>
                <hr>
                <div class="p-2 border rounded" *ngIf="!isContractor">
                    <h3 class="card-text bg-primary m-1 rounded shadow text-white">User Posts</h3>
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <th>Total No. of Posts</th>
                                <td>{{ user.posts.length }}</td>
                                <th>Closed Posts</th>
                                <td>{{ closedPostsCount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="p-2 border rounded" *ngIf="isContractor" [routerLink]="['/tutorials/contractors/'] + user.id">
                    <h3 class="card-text bg-primary m-1 rounded shadow text-white">Contractor Blog</h3>
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <th>Participations</th>
                                <td>{{ user.tutCount }}</td>
                                <th>Likes/Dislikes</th>
                                <td>{{ user.tutCount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="p-2 border rounded" *ngIf="isContractor">
                    <h3 class="card-text bg-primary m-1 rounded shadow text-white">Previous Work</h3>
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <th>All Offers</th>
                                <td>{{ allOffers }}</td>
                                <th>Accepted Offers</th>
                                <td>{{ acceptedOffers }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="my-4" *ngIf="isContractor">
                <div>
                    <app-get-rates [contractor_id]="user.id"></app-get-rates>
                </div>
            </div>
            <div class="my-4" *ngIf="isContractor">
                <div>
                    <app-get-comments [contractor_id]="user.id"></app-get-comments>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-no-response *ngIf="noResponse"></app-no-response>

<!-- <ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template> -->