<app-page-banner [title]="title"></app-page-banner>

<div class="container main mt-3 spacing">
    <h1 class="text-center">Register As</h1>
    <hr>
    <div class="row">
      <div class="col-6">
        <input id="client" type="button" name='USER' value="Client"  (click)="handleType($event)" class="text-dark btn btn-light float-right">
      </div>
      <div class="col-6">
        <input id="contructor" type="button" name='CONTRACTOR' value="Contractor"  (click)="handleType($event)" class="text-dark btn btn-light ">
      </div>
      <div class="col">
        <app-register-form [type]="type"></app-register-form>
      </div>
    </div>
  
  </div>