<app-page-banner [title]="title"></app-page-banner>

<div class="container main mt-5 spacing rounded shadow justify-content-center bg-dark">
  <h1 class="text-center text-dark bg-light rounded shadow m-1">Sign Up As</h1>
  <hr>
  <div class="row">
    <div class="col-6">
      <input id="client" type="button" name='USER' value="Client" (click)="handleType($event)"
        class="text-dark btn btn-lg btn-light float-right">
    </div>
    <div class="col-6">
      <input id="contructor" type="button" name='CONTRACTOR' value="Contractor" (click)="handleType($event)"
        class="text-dark btn btn-lg btn-light">
    </div>
    <div class="col ">
      <app-register-form [type]="type"></app-register-form>
    </div>
  </div>
  <hr>
  <div class="text-white text-center">Already have an account? <a class="shadow rounded"
      href="/login">Log In Here!</a></div>
</div>