<app-page-banner [title]="title"></app-page-banner>

<div class="container mt-5 mb-5">
  <div class="main rounded shadow">
    <h1 class="text-center text-dark bg-light rounded shadow m-1 p-1">Sign Up As</h1>
    <hr>
    <div class="row justify-content-center">
      <div class="col-4 text-center mr-1">
        <input id="contructor" type="button" name='CONTRACTOR' value="Contractor" (click)="handleType($event)"
          class="text-dark btn btn-lg btn-light rounded shaodw">
      </div>
      <div class="col-4 text-center ml-1">
        <input id="client" type="button" name='USER' value="Client" (click)="handleType($event)"
          class="text-dark btn btn-lg btn-light rounded shadow">
      </div>
      <div class="col-11">
        <app-register-form [type]="type"></app-register-form>
      </div>
    </div>
    <hr style="border-top:1px solid white;">
    <div class="text-white text-center">Already have an account? <a href="/login">Log In Here!</a>
    </div>
  </div>
</div>