<app-page-banner [title]="title"></app-page-banner>

<div class="container" *ngIf="!isLoading && !noResponse">
    <div class="row text-center justify-content-center">
        <mat-card>
            <mat-card-title class="rounded shadow text-white p-3 mb-3 display-3">PV System Num
                #{{system_data['system']['id']}}</mat-card-title>
            <h2 class="border border-black p-2">Estimated Cost: {{ system_data['cost'] }} EG</h2>
            <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error=''">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <mat-tab-group class="rounded shadow p-2 mb-3 border border-warning">
                <mat-tab label="Panel">
                    <mat-card-content class="mt-5">
                        <p><b>Total Panels:</b> {{ system_data['calculation']['panels_num'] }}</p>
                        <p><b>Panel Watt:</b> {{ system_data['calculation']['panel_watt'] }}</p>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Battery">
                    <mat-card-content class="mt-5">
                        <p><b>Total Batteries:</b> {{ system_data['calculation']['batteries_num'] }}</p>
                        <p><b>Battery AH:</b> {{ system_data['calculation']['battery_Ah'] }}</p>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Mppt">
                    <mat-card-content class="mt-5">
                        <p><b>Mppt Amper:</b> {{ system_data['calculation']['mppt_amp'] }}</p>
                        <p><b>Mppt Num:</b> {{ system_data['calculation']['system_circuits'] }}</p>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Inverter">
                    <mat-card-content class="mt-5">
                        <p><b>Inverter Watt:</b> {{ system_data['calculation']['inverter_watt'] }}</p>
                        <p><b>Inverter Num:</b> {{ system_data['calculation']['system_circuits'] }}</p>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Installations">
                    <mat-card-content class="mt-5">
                        <p><b>Tilt Angle:</b> {{ system_data['installations']['tilt_angle'] }} |
                            {{ system_data['installations']['description'] }}
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Protection">
                    <mat-card-content class="mt-5">
                        <mat-expansion-panel class="mb-2" (opened)="panelOpenState1 = true"
                            (closed)="panelOpenState1 = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <b>Section_1 Protection:</b>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Cable: {{ system_data['cables_protections']['section1']['cable_current1'] }} A | Fuse:
                                {{ system_data['cables_protections']['section1']['fuse_current1'] }} A</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="mb-2" (opened)="panelOpenState2 = true"
                            (closed)="panelOpenState2 = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <b>Section_2 Protection:</b>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p> Cable: {{ system_data['cables_protections']['section2']['cable_current2'] }} A | Fuse:
                                {{ system_data['cables_protections']['section2']['fuse_current2'] }} A</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="mb-2" (opened)="panelOpenState3 = true"
                            (closed)="panelOpenState3 = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <b>Section_3 Protection:</b> </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p> Cable: {{ system_data['cables_protections']['section3']['cable_current3'] }} A | CB:
                                {{ system_data['cables_protections']['section3']['circuitBreaker_current3'] }} A</p>
                        </mat-expansion-panel>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
            <mat-card-footer>
                <mat-card-actions>
                    <a mat-button class="btn shadow rounded btn-outline-primary mr-4" (click)="publish()"
                        *ngIf="!system_data['published']">Publish</a>
                    <a mat-button class="btn shadow rounded btn-outline-warning mr-4"
                        [routerLink]="['/profile/systems']">Profile</a>
                    <a mat-button class="btn shadow rounded btn-outline-danger" href="#delete" type="button"
                        title="Delete" data-toggle="modal">Delete</a>
                </mat-card-actions>
            </mat-card-footer>
        </mat-card>
    </div>


    <div id="delete" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete your System? This process cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-no-response *ngIf="noResponse"></app-no-response>