<div class="container">
    <div class="row text-center justify-content-center">
        <mat-card>
            <mat-card-title>PV System Data</mat-card-title>
            <mat-card-content>
                <p>you can Igonre GetLocation, If it's not allowed</p>
                <p>you can Igonre GetLocation, If it's not allowed</p>
                <p>you can Igonre GetLocation, If it's not allowed</p>
                <p>you can Igonre GetLocation, If it's not allowed</p>
                <p>you can Igonre GetLocation, If it's not allowed</p>
                <p>you can Igonre GetLocation, If it's not allowed</p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
            <mat-card-footer>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
