mat-card{
    margin: 80px;
    padding: 15px;
    width: 700px;
    border: 5px rgb(0, 24, 48) solid;
    background-color: rgb(217, 237, 255);
}

mat-card-content{
    height: 240px;
}

.mat-card-title{
    font-size: 32px;
    background-color: rgb(0, 24, 48);
}

body { padding-top:30px; }
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 24px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.clickable {
    cursor: pointer;
    outline: none;     
}

.disableDiv{
    pointer-events:none;
    background-color:#666666;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
      -moz-opacity: 0.75;      /* mozilla, netscape */
           opacity: 0.75;      /* fx, safari, opera */
}

	.modal-confirm {		
		color: #636363;
		width: 550px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;        
	}
	.modal-confirm .modal-header {
        padding: 0 15px;
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
        display: inline-block;
		font-size: 26px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}
    .modal-confirm .modal-body {
        color: #999;
    }
	.modal-confirm .modal-footer {
		background: #ecf0f1;
		border-color: #e6eaec;
		text-align: right;
		margin: 0 -20px -20px;
		border-radius: 0 0 5px 5px;
	}	
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		transition: all 0.4s;
        border: none;
        padding: 8px 20px;
        outline: none !important;
    }	
    .modal-confirm .btn-info {
        background: #b0c1c6;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #92a9af;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	.modal-confirm .modal-footer .btn + .btn {
		margin-left: 10px;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}


   #approved .modal-confirm {		
		color: #636363;
		width: 325px;
	}
	#approved .modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	#approved .modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	#approved .modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -15px;
	}
	#approved .modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	#approved .modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}	
	#approved .modal-confirm .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
	}	
	#approved .modal-confirm .icon-box {
		color: #fff;		
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #82ce34;
		padding: 15px;
		text-align: center;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	#approved .modal-confirm .icon-box i {
		font-size: 58px;
		position: relative;
		top: 3px;
	}
	#approved .modal-confirm.modal-dialog {
		margin-top: 80px;
	}
    #approved .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #82ce34;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
        border: none;
    }
	#approved .modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #6fb32b;
		outline: none;
	}
	#approved .trigger-btn {
		display: inline-block;
		margin: 100px auto;
    }
    

    #delete .modal-confirm {		
		color: #636363;
		width: 400px;
	}
	#delete .modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	#delete .modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	#delete .modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	#delete .modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	#delete .modal-confirm .modal-body {
		color: #999;
	}
	#delete .modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	#delete .modal-confirm .modal-footer a {
		color: #999;
	}		
	#delete .modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	#delete .modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    #delete .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	#delete .modal-confirm .btn-info {
        background: #c1c1c1;
    }
    #delete .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    #delete .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    #delete .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	#delete .trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}