<app-page-banner [title]="title"></app-page-banner>

<div class="chat-page" *ngIf="!isLoading && !noResponse">
    <div class="chat-box" *ngIf="connected">
      <app-contacts-list (userSelected)="onUserSelected($event)" [selectedUser]="selectedUser"></app-contacts-list>
      <app-messages-view [messages]="messages" [selectedUserName]="selectedUser?.name"
        (sendMessage)="onSendMessage($event)" [emptyInbox]="emptyInbox"></app-messages-view>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-no-response *ngIf="noResponse"></app-no-response>
