<app-page-banner [title]="title"></app-page-banner>

<!-- resetPssword -->
<div class="row justify-content-center text-center" *ngIf="is_reset">
    <mat-card>
        <mat-card-title class="bg-dark rounded shadow text-white p-1">Reset Password</mat-card-title>
        <hr>
        <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error=''">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <mat-card-content class="border rounded p-2">
            <mat-form-field class="example-form-field">
                <mat-label>Email</mat-label>
                <input matInput type="text" [(ngModel)]="userData.email" />
                <mat-hint align="start"><strong>Email</strong> </mat-hint>
                <mat-hint align="end"> {{ userData.email }} </mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="mt-4">
            <a mat-button class="btn rounded shadow btn-outline-success" (click)="resetPssword()">Send</a>
            <div *ngIf="submitted" class="spinner-border" id="auth-loader" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            <a mat-button href="login" class="btn rounded shadow btn-outline-dark ml-3">Back</a>
        </mat-card-actions>
        <mat-card-footer class="p-2">Plaese check your email and follow the instructions</mat-card-footer>
    </mat-card>
</div>
<!-- end of resetPssword -->
<!-- update password -->
<div class="row justify-content-center text-center" *ngIf="!is_reset">
    <mat-card>
        <mat-card-title class="bg-dark rounded shadow text-white p-1">Update Password</mat-card-title>
        <hr>
        <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error=''">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <mat-card-content class="border rounded p-2">
            <mat-form-field class="example-form-field">
                <mat-label>Enter your new password</mat-label>
                <input matInput type="password" [(ngModel)]="userData.password" />
                <mat-hint align="start"><strong>Enter your new password</strong> </mat-hint>
                <mat-hint align="end">  </mat-hint>
            </mat-form-field>
            <br> <br>
            <mat-form-field class="example-form-field">
                <mat-label>Confirm new password</mat-label>
                <input matInput type="password" [(ngModel)]="userData.passwordConfirmation" />
                <mat-hint align="start"><strong>Confirm new password</strong> </mat-hint>
                <mat-hint align="end">  </mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="mt-4">
            <a mat-button class="btn rounded shadow btn-outline-success" (click)="updatePassword()">Send</a>
            <!-- <div *ngIf="submitted" class="spinner-border" id="auth-loader" role="status">
                <span class="sr-only">Loading...</span>
              </div>        -->
             </mat-card-actions>
        <mat-card-footer class="p-2">You will autamaticlly log in after updating you password</mat-card-footer>
    </mat-card>
</div>
<!-- end of update password -->