<!--================Home Banner Area =================-->
<section class="home_banner_area" id="home">
  <div class="banner_inner">
    <div class="container">
      <div class="banner_content">
        <h2>Install your System today <br />to save money tomorrow</h2>
        <p>If you're looking to reduce your electricity bill and have a positive impact on the environment, You should
          find out the required parts for your solar system.</p>
        <!-- Different buttons for getting started -->
        <span *ngIf="tokenAuth.userSignedIn()">
          <a class="banner_btn" [routerLink]="('create' | able: 'Calculation') ? ['/user-input'] : ['/posts']">Get
            Started</a>
        </span>
        <span *ngIf="!tokenAuth.userSignedIn()">
          <a class="banner_btn" [routerLink]="['/login']">Get Started</a>
        </span>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Design Area =================-->
<section class="design_area p_120">
    <div class="container">
      <h2 class="title">How it works</h2>
      <div class="design_inner row">
        <div class="col-lg-6">
          <!-- <img class="img-fluid" src="/assets/img/design-1.jpg" alt=""> -->
          <div class="design_left_text">
            <h2 class="text-center">Client</h2>
            <p>Enter your Electricity Bill</p>
            <p>Calculate your system</p>
            <p>Post your system for Contractors to bid on</p>
            <p>Choose the perfect offer for you</p>
            <p>Get in touch with your Contractor</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="design_left_text">
            <h2 class="text-center">Contractor</h2>
            <p>Browse all Posts from clients</p>
            <p>Write your Offer</p>
            <p>Wait to be assigned to an System</p>
            <p>Get in touch with your Client</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--================End Design Area =================-->

<!--================Feature Area =================-->
<!-- <section class="feature_area">
  <div class="container">
    <div class="main_title">
      <h2>What we offer to our clients</h2>
      <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may
        see some for as low as $.17 each.</p>
    </div>
    <div class="feature_inner row">
      <div class="col-lg-4">
        <div class="feature_item">
          <img src="/assets/img/icon/f-icon-1.png" alt="">
          <h4>Architecture</h4>
          <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You
            may see some for as low as $17 each.</p>
          <a class="main_btn" href="#">View Details</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature_item">
          <img src="/assets/img/icon/f-icon-2.png" alt="">
          <h4>Interior Design</h4>
          <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You
            may see some for as low as $17 each.</p>
          <a class="main_btn" href="#">View Details</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature_item">
          <img src="/assets/img/icon/f-icon-3.png" alt="">
          <h4>Concept Design</h4>
          <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You
            may see some for as low as $17 each.</p>
          <a class="main_btn" href="#">View Details</a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--================End Feature Area =================-->

<!--================Post Slider Area =================-->
<!-- <section class="post_slider_area">
    <div class="main_title">
  <h2>Our Recent Completed Projects</h2>
  <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
</div>
<div class="post_slider_inner owl-carousel">
  <div class="item">
    <div class="post_s_item">
      <div class="post_img">
        <img src="/assets/img/post-slider/post-s-1.jpg" alt="">
      </div>
      <div class="post_text">
        <a href="single-blog.html"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <a class="main_btn" href="#">View Details</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="post_s_item">
      <div class="post_img">
        <img src="/assets/img/post-slider/post-s-2.jpg" alt="">
      </div>
      <div class="post_text">
        <a href="single-blog.html"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <a class="main_btn" href="#">View Details</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="post_s_item">
      <div class="post_img">
        <img src="/assets/img/post-slider/post-s-3.jpg" alt="">
      </div>
      <div class="post_text">
        <a href="single-blog.html"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <a class="main_btn" href="#">View Details</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="post_s_item">
      <div class="post_img">
        <img src="/assets/img/post-slider/post-s-4.jpg" alt="">
      </div>
      <div class="post_text">
        <a href="single-blog.html"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <a class="main_btn" href="#">View Details</a>
      </div>
    </div>
  </div>
</div>
  </section> -->
<!--================End Post Slider Area =================-->

<!--================Testimonials Area =================-->
<!-- <section class="testimonials_area p_120">
    <div class="container">
      <div class="main_title">
        <h2>What Customer Say About Us</h2>
        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
      </div>
      <div class="testi_slider owl-carousel">
        <div class="item">
          <div class="testi_item">
        <div class="media">
          <div class="d-flex">
            <img src="/assets/img/testimonials/testi-1.png" alt="">
          </div>
          <div class="media-body">
            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
            <h4>Mark Alviro Wiens</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>
        </div>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
        <div class="media">
          <div class="d-flex">
            <img src="/assets/img/testimonials/testi-2.png" alt="">
          </div>
          <div class="media-body">
            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
            <h4>Mark Alviro Wiens</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>
        </div>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
        <div class="media">
          <div class="d-flex">
            <img src="/assets/img/testimonials/testi-1.png" alt="">
          </div>
          <div class="media-body">
            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
            <h4>Mark Alviro Wiens</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>
        </div>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
        <div class="media">
          <div class="d-flex">
            <img src="/assets/img/testimonials/testi-2.png" alt="">
          </div>
          <div class="media-body">
            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
            <h4>Mark Alviro Wiens</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>
        </div>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
        <div class="media">
          <div class="d-flex">
            <img src="/assets/img/testimonials/testi-1.png" alt="">
          </div>
          <div class="media-body">
            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
            <h4>Mark Alviro Wiens</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>
        </div>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
        <div class="media">
          <div class="d-flex">
            <img src="/assets/img/testimonials/testi-2.png" alt="">
          </div>
          <div class="media-body">
            <p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
            <h4>Mark Alviro Wiens</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!--================End Testimonials Area =================-->

<!--================Clients Logo Area =================-->
<!-- <section class="clients_logo_area p_120">
    <div class="container">
      <div class="clients_slider owl-carousel">
        <div class="item">
          <img src="/assets/img/clients-logo/c-logo-1.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/img/clients-logo/c-logo-2.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/img/clients-logo/c-logo-3.png" alt="">
        </div>                                                                            
        <div class="item">
          <img src="/assets/img/clients-logo/c-logo-4.png" alt="">
        </div>
        <div class="item">
          <img src="/assets/img/clients-logo/c-logo-5.png" alt="">
        </div>
      </div>
    </div>
  </section> -->
<!--================End Clients Logo Area =================-->

<!--================Our Blog Area =================-->
<!-- <section class="our_blog_area p_120">
    <div class="container">
      <div class="main_title">
        <h2>Recent From Our Blog</h2>
        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
      </div>
      <div class="blog_inner row">
        <div class="col-lg-4">
          <div class="o_blog_item">
            <div class="blog_img">
              <img class="img-fluid" src="/assets/img/our-blog/our-blog-1.jpg" alt="">
            </div>
            <div class="blog_text">
              <div class="blog_cat">
                <a class="active" href="#">Travel</a>
                <a href="#">Life style</a>
              </div>
              <a href="#"><h4>Low Cost Advertising</h4></a>
              <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer hears tales of diamonds and begins dreaming of vast riches.</p>
              <a class="date" href="#">31st January, 2018</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="o_blog_item">
            <div class="blog_img">
              <img class="img-fluid" src="/assets/img/our-blog/our-blog-2.jpg" alt="">
            </div>
            <div class="blog_text">
              <div class="blog_cat">
                <a class="active" href="#">Travel</a>
                <a href="#">Life style</a>
              </div>
              <a href="#"><h4>Low Cost Advertising</h4></a>
              <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer hears tales of diamonds and begins dreaming of vast riches.</p>
              <a class="date" href="#">31st January, 2018</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="o_blog_item">
            <div class="blog_img">
              <img class="img-fluid" src="/assets/img/our-blog/our-blog-3.jpg" alt="">
            </div>
            <div class="blog_text">
              <div class="blog_cat">
                <a class="active" href="#">Travel</a>
                <a href="#">Life style</a>
              </div>
              <a href="#"><h4>Low Cost Advertising</h4></a>
              <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer hears tales of diamonds and begins dreaming of vast riches.</p>
              <a class="date" href="#">31st January, 2018</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!--================End Our Blog Area =================-->