<!--================Home Banner Area =================-->
<section class="home_banner_area" id="home">
  <div class="banner_inner">
    <div class="container">
      <div class="banner_content">
        <h2>Install your System today <br />to save money tomorrow</h2>
        <p>If you're looking to reduce your electricity bill and have a positive impact on the environment, You should
          find out the required parts for your solar system.</p>
        <!-- Different buttons for getting started -->
        <span *ngIf="tokenAuth.userSignedIn()">
          <a class="banner_btn" [routerLink]="('create' | able: 'Calculation') ? ['//pv-system/user-info'] : ['/posts']">Get
            Started</a>
        </span>
        <span *ngIf="!tokenAuth.userSignedIn()">
          <a class="banner_btn" [routerLink]="['/login']">Get Started</a>
        </span>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Design Area =================-->
<section class="design_area p_120">
    <div class="container main_title">
      <h2>How it works</h2>
      <div class="design_inner row mt-5">
        <div class="col-lg-6">
          <div class="design_left_text">
            <h3 class="text-center">Client</h3>
            <p>Enter your Electricity Bill</p>
            <p>Calculate your system</p>
            <p>Post your system for Contractors to bid on</p>
            <p>Choose the perfect offer for you</p>
            <p>Get in touch with your Contractor</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="design_left_text">
            <h3 class="text-center">Contractor</h3>
            <p>Browse all Posts from clients</p>
            <p>Write your Offer</p>
            <p>Wait to be assigned to an System</p>
            <p>Get in touch with your Client</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--================End Design Area =================-->

<!--================Feature Area =================-->
<section class="feature_area">
  <div class="container">
    <div class="main_title">
      <h2>Why go solar</h2>
      <p>A wide range of benefits will arise from using this type of clean energy whether for you, for the economy or for the environment.</p>
    </div>
    <div class="feature_inner row text-center">
      <div class="col-lg-4">
        <div class="feature_item">
          <i class="fas fa-globe-africa"></i>
          <h4>Applicable Everywhere</h4>
          <p>As long as there is sunshine, solar energy can be deployed anywhere. This is particularly useful for remote regions with no access to any other source of electricity. There is a vast amount of people around the world with no access to electricity..</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature_item">
          <i class="fas fa-heartbeat"></i>
          <h4>Benefits the Environment</h4>
          <p>Solar energy has the least negative impact on the environment compared to any other energy source. It does not produce greenhouse gases and does not pollute the water. It does not create any noise, which is major benefit.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature_item">
          <i class="fas fa-dollar-sign"></i>
          <h4>Save Money</h4>
          <p>Generating your own electricity means that you will be using less from the utility supplier. This will immediately translate to savings on your energy bill. Plus, you can also make money by selling the unused electricity, which you have generated, back to the grid</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Feature Area =================-->