<div class="text-center m-1 p-3" *ngIf="req_data['review']">
    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error=''">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h4 class="bg-dark rounded text-white p-1">Comment</h4>
    <div class="animated-border-quote">
        <blockquote>
            <p>{{ req_data['review'] }}</p>
            <cite class="text-center text-dark">Date: <b>{{ req_data['updated_at'] }}</b></cite>
        </blockquote>
    </div>
</div>