<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a class="nav-link text-white material-icons" [routerLink]="['']">home</a></span>
    <span *ngIf="tokenAuthService.userSignedIn() && ('create' | able: 'Calculation')"><a class="nav-link text-white material-icons" [routerLink]="['/system-info']">SOLAR</a></span>
    <span *ngIf="tokenAuthService.userSignedIn()"><a class="nav-link text-white material-icons" [routerLink]="['/profile']">PROFILE</a></span>
    <span *ngIf="tokenAuthService.userSignedIn()"><a class="nav-link text-white material-icons" [routerLink]="['/posts']">POSTS</a></span>
    <span class="example-spacer"></span>
    <span *ngIf="!tokenAuthService.userSignedIn()"><a class="nav-link text-white material-icons" [routerLink]="['/login']" >LOGIN</a></span>
    <span  *ngIf="!tokenAuthService.userSignedIn()"> <a class="nav-link text-white material-icons" [routerLink]="['/register']">REGISTER</a></span>
    <span *ngIf="tokenAuthService.userSignedIn()"><a class="nav-link text-white material-icons" [routerLink]="['/']" (click)="signOut()">LOGOUT</a></span>
  </mat-toolbar-row>
</mat-toolbar>
