<mat-toolbar>  
  <mat-toolbar-row>
    <span><a class="navbar-brand text-white"  [routerLink]="['']">SolarCo</a></span>
    <span *ngIf="!tokenAuthService.userSignedIn()"><a class="nav-link text-white" [routerLink]="['/login']" >LOGIN</a></span>
    <span  *ngIf="!tokenAuthService.userSignedIn()"> <a class="nav-link text-white" [routerLink]="['/register']">REGISTER</a></span>
    <span *ngIf="tokenAuthService.userSignedIn()"><a class="nav-link text-white" [routerLink]="['/profile']">PROFILE</a></span>
    <h2 *ngIf="tokenAuthService.userSignedIn()"><a class="nav-link text-white" [routerLink]="['/']" (click)="signOut()">LOGOUT</a></h2>
  </mat-toolbar-row>
</mat-toolbar>

