<app-page-banner [title]="title"></app-page-banner>

<!--================Design Area =================-->
<section class="design_area p_120">
    <div class="container">
        <div class="design_inner row">
            <div class="col-lg-5">
                <img class="img-fluid img-hight" src="../../../../assets/images/about-page.jpeg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="design_left_text">
                    <h6>Welcome to SolarCo </h6>
                    <h2>Easy & simple <br /> installations <br /> for your systems</h2>
                    <h5>Find the perfect contractor to install your system through us</h5>
                    <p>This web application facilitates for users concerned with installing a solar system for their
                        properties to find out the required parts according to their location and electricity
                        consumption only. It provides two stakeholders, The client and the contractor who will install
                        the system.</p>

                    <p>Contractors have a part as freelancers who could provide proposals on different systems and the
                        clients get the chance to choose from different offers and contractors.</p>
                    <a class="main_btn" href="contact-us">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Design Area =================-->


<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../../assets/images/abdelhamid.jpg"
                                            alt="ahmed's image"></p>
                                    <h4 class="card-title">Ahmed Abd El-Hamid</h4>
                                    <p class="card-text">Founder</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Ahmed Abd El-Hamid</h4>
                                    <p class="email">eng.a.abdelhamid@outlook.com</p>
                                    <p class="card-text">Formal Electrical power Engineer who graduated from alexandria university, then he become a web developer after achieving a diploma in (OpenSource web development Track) at (ITI) Information technology Institute. </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.facebook.com/A.AbdelHamid.93">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://github.com/Ahmed-Abd-elhamid">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/ahmed-abdelhamd/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../../assets/images/nouran.jpeg"
                                            alt="nouran's image"></p>
                                    <h4 class="card-title">Nouran Samy</h4>
                                    <p class="card-text">Founder</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Nouran Samy</h4>
                                    <p class="email">nouransamy271@gmail.com</p>
                                    <p class="card-text">Web developer with experience in many front end and back end
                                        technologies. Check out my social links for more info about my skills and
                                        projects.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.facebook.com/nouran.samyy96">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://github.com/Nouran96">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/nouran-samy-769582167/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../../assets/images/alaa.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Muhammed Aladdin</h4>
                                    <p class="card-text">Founder</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Muhammed Aladdin</h4>
                                    <p class="email">muhammadalaa27@gmail.com</p>
                                    <p class="card-text">This is basic card with image on top, title, description and
                                        button.This is basic card with image on top, title, description and button.This
                                        is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.facebook.com/MuAlaeldin">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://github.com/MuAladdinIbrahim">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/mualaddinibrahim/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../../assets/images/zeyad.jpg"
                                            alt="zeyad's image"></p>
                                    <h4 class="card-title">Zeyad Saleh</h4>
                                    <p class="card-text">Founder</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Zeyad Saleh</h4>
                                    <p class="email">zeyadmostafasaleh@gmail.com</p>
                                    <p class="card-text">Formal Civil Engineer who decided to shift his career to become
                                        Web Developer who has sufficient skills in various front-end and back-end
                                        technologies</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.facebook.com/zeyadmostafasaleh">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://github.com/zeyadsaleh">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://www.linkedin.com/in/zeyad-saleh-612ab7124/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="zeyadmostafasaleh@gmail.com">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->


        </div>
    </div>
</section>
<!-- Team -->