<app-page-banner [title]="title"></app-page-banner>

<div id="profile" *ngIf="!isLoading && !noResponse">
  <div class="container content">
    <div class="alert alert-danger" #avatarAlert role="alert" style="display: none">
      Your uploaded file is not a valid image
    </div>
    <div class="row profile">
      <div class="col-md-3">
        <div class="profile-sidebar rounded shadow border">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
            <img [src]="userData.avatar ? userData.avatar : '/assets/images/avatar.webp'" class="img-fluid shadow"
              alt="">
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              {{userData.name}}
            </div>
            <div class="profile-usertitle-job">
              {{userData.email}}
            </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <div class="profile-userbuttons">
            <input type="file" name="avatar" #avatarUploader accept="image/*" (change)="uploadAvatar($event)"
              style="display: none">
            <button type="button" class="btn btn-success btn-sm shadow" (click)="openUploader()">Change
              Avatar</button>
          </div>
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item" [routerLink]="['/profile']" [class]="subPage == 'overview' ? 'active' : ''"
                (click)="changeSubpage($event)" *ngIf="type == 'CONTRACTOR'">

                <a name="overview" class="nav-link" [class]="subPage == 'overview' ? 'active' : ''">
                  <i class="fa fa-home"></i>
                  Overview </a>

              </li>
              <li *ngIf="type=='USER'" class="nav-item" [routerLink]="['/profile/systems']"
                [class]="subPage == 'systems' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="systems" class="nav-link" [class]="subPage == 'systems' ? 'active' : ''">
                  <i class="fa fa-check"></i>
                  Systems </a>

              </li>
              <li *ngIf="type=='CONTRACTOR'" class="nav-item" [routerLink]="['/profile/offers']"
                [class]="subPage == 'offers' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="offers" class="nav-link" [class]="subPage == 'offers' ? 'active' : ''">
                  <i class="fa fa-check"></i>
                  Offers </a>

              </li>
              <li *ngIf="type=='USER'" class="nav-item" [routerLink]="['/profile/posts']"
                [class]="subPage == 'posts' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="posts" class="nav-link" [class]="subPage == 'posts' ? 'active' : ''">
                  <i class="fa fa-check"></i>
                  Posts </a>

              </li>
              <li *ngIf="type=='USER'" class="nav-item" [routerLink]="['/profile/perviousPosts']"
                [class]="subPage == 'perviousPosts' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="perviousPosts" class="nav-link" [class]="subPage == 'perviousPosts' ? 'active' : ''">
                  <i class="fa fa-check"></i>
                  Pervious Posts </a>

              </li>
              <li *ngIf="type=='CONTRACTOR'" class="nav-item" [routerLink]="['/tutorials/contractors', userData.id]"
                [class]="subPage == 'tutorial' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="tutorial" class="nav-link" [class]="subPage == 'tutorial' ? 'active' : ''">
                  <i class="fa fa-check"></i>
                  Tutorial </a>

              </li>
              <li *ngIf="type=='USER'" class="nav-item" [routerLink]="['/tutorials/users',userData.id]"
                [class]="subPage == 'favorite' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="favorite" class="nav-link" [class]="subPage == 'favorite' ? 'active' : ''">
                  <i class="fa fa-check"></i>
                  Favorite Tutorial </a>
              </li>
              <li class="nav-item" [routerLink]="['/profile/edit']" [class]="subPage == 'edit' ? 'active' : ''"
                (click)="changeSubpage($event)">
                <a name="edit" class="nav-link" [class]="subPage == 'edit' ? 'active' : ''">
                  <i class="fas fa-pen"></i>
                  Edit </a>
              </li>
              <li class="nav-item" [class]="subPage == 'help' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="help" class="nav-link" [class]="subPage == 'help' ? 'active' : ''">
                  <i class="fa fa-flag"></i>Help</a>
              </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="profile-content  shadow rounded">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>


<app-loading *ngIf="isLoading"></app-loading>
<app-no-response *ngIf="noResponse"></app-no-response>

<!-- <ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template> -->