<app-page-banner [title]="title"></app-page-banner>
<div id="profile">
  <div class="container content">
    <div class="alert alert-danger" #avatarAlert role="alert" style="display: none">
      Your uploaded file is not a valid image
    </div>
    <div class="row profile" *ngIf="!isLoading else loading">
      <div class="col-md-3">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
            <img [src]="userData.avatar ? userData.avatar : '/assets/images/tony.png'" class="img-fluid" alt="">
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              {{userData.name}}
            </div>
            <div class="profile-usertitle-job">
              {{userData.email}}
            </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <div class="profile-userbuttons">
            <input type="file" name="avatar" #avatarUploader accept="image/*" (change)="uploadAvatar($event)"
              style="display: none">
            <button type="button" class="btn btn-success btn-sm" (click)="openUploader()">Change
              Avatar</button>
          </div>
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item" [routerLink]="['/profile']" [class]="subPage == 'overview' ? 'active' : ''"
                (click)="changeSubpage($event)">

                <a name="overview" class="nav-link" [class]="subPage == 'overview' ? 'active' : ''">
                  <i class="fa fa-home"></i>
                  Overview </a>

              </li>
              <li class="nav-item" [class]="subPage == 'settings' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="settings" class="nav-link" [class]="subPage == 'settings' ? 'active' : ''">
                  <i class="fa fa-user"></i>
                  Account Settings </a>

              </li>
              <li *ngIf="type=='USER'" class="nav-item" [routerLink]="['/profile/systems']"
                [class]="subPage == 'systems' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="systems" class="nav-link" [class]="subPage == 'systems' ? 'active' : ''">
                  <i class="fa fa-check"></i>
                  Systems </a>

              </li>
              <li *ngIf="type=='CONTRACTOR'" class="nav-item" [routerLink]="['/profile/offers']"
                [class]="subPage == 'offers' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="offers" class="nav-link" [class]="subPage == 'offers' ? 'active' : ''">
                  <i class="fa fa-check"></i>
                  Offers </a>

              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/posts']">
                  <i class="fa fa-check"></i>
                  Posts </a>
              </li>
              <li class="nav-item" [class]="subPage == 'help' ? 'active' : ''" (click)="changeSubpage($event)">

                <a name="help" class="nav-link" [class]="subPage == 'help' ? 'active' : ''">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-flag"></i>
                  Help </a>

              <li class="nav-item">
                <a class="nav-link" href="profile/edit">
                  <i class="fa fa-flag"></i>
                  Edit </a>
              </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="profile-content text-center">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
