<app-page-banner [title]="title"></app-page-banner>

<div class="container" *ngIf="!isLoading">
    <div class="chat-icon" [routerLink]="['/chat/'] + contractor.id">
        <i class="fas fa-comment-alt"></i>
    </div>
    <div class="card contractor-profile">
        <div class="card-body mx-5">
            <div class="text-center mb-5 justify-content-center">
                <img [src]="contractor.avatar ? contractor.avatar : '/assets/images/avatar.webp'" width=100 height=100>
                <h2 class="mt-2">{{ contractor.name }}</h2>
                <h4 class="card-text" *ngIf="contractor.address">{{ contractor.address }}</h4>
                <h4 class="card-text">{{ contractor.email }}</h4>
                <hr>
                <div class="p-2 border rounded" [routerLink]="['/tutorials/contractors/'] + contractor.id">
                    <h3 class="card-text bg-primary m-1 rounded shadow text-white">Contractor Blog</h3>
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <th>Participations</th>
                                <td>{{ contractor.tutCount }}</td>
                                <th>Likes/Dislikes</th>
                                <td>{{ contractor.tutCount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="p-2 border rounded">
                    <h3 class="card-text bg-primary m-1 rounded shadow text-white">Previous Work</h3>
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <th>All Offers</th>
                                <td>{{ allOffers }}</td>
                                <th>Accepted Offers</th>
                                <td>{{ acceptedOffers }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="my-4">
                <div>
                    <app-get-rates [contractor_id]="contractor.id"></app-get-rates>
                </div>
            </div>
            <div class="my-4">
                <div>
                    <app-get-comments [contractor_id]="contractor.id"></app-get-comments>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<!-- <ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template> -->