<!-- <app-page-banner [title]="title"></app-page-banner> -->
<div class="bar"></div>

<div class="container mt-5 mb-5" *ngIf="!isLoading && !noResponse && tutorial">
    <div class="row justify-content-center body">
        <div class="col-lg-12 text-center">
            <div class="card">
                <div class="card-text">
                    <div class="portada">
                        <img class="img" src="assets/images/pv.jpg">
                    </div>
                    <div class="title-total">

                        <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ successMsg }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                (click)="successMsg=''">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div *ngIf="warningMsg" class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ warningMsg }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                (click)="warningMsg=''">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <h2 class="head bg-primary m-2 rounded shadow text-left">{{ tutorial.title }}<a
                                *ngIf="tokenAuth.userSignedIn() && tokenAuth.currentUserType == 'USER' && !added"
                                style="float: right;" class="btn btn-sm btn-success rounded shadow"
                                (click)="addFav()">Add To Favorite</a>
                            <a *ngIf="tokenAuth.userSignedIn() && tokenAuth.currentUserType == 'USER' && added"
                                href="#remove" type="button" class="btn btn-danger btn-sm text-white" title="Delete"
                                data-toggle="modal" style="float: right;"><span class="fa fa-trash"></span></a>
                            <a href="#delete" type="button" class="btn btn-danger btn-sm text-white" title="Delete"
                                data-toggle="modal" style="float: right;"
                                *ngIf="tokenAuth.currentUserType == 'CONTRACTOR' && tokenAuth.userSignedIn() && contractor_id == tutorial.contractor_id"><span
                                    class="fa fa-trash"></span></a></h2>
                        <div class="desc">{{ tutorial.body }}
                        </div>
                        <div class="title" [routerLink]="['/blog/contractors',tutorial.contractor_id]">
                            By: {{ tutorial.contractor.name }}</div>
                        <hr>
                        <div class="desc border-info rounded p-auto"
                            [routerLink]="['/blog/categories',tutorial.category_id]">Category:
                            {{ tutorial.category.category }}</div>
                        <hr>
                        <div class="border p-2 m-1 rounded">
                            <div class="border p-2 text-center rounded mb-2">
                                <app-like [tutorial_id]="tutorial.id"></app-like>
                            </div>
                            <div class="border p-2 text-center rounded mb-2"
                                *ngIf="tokenAuth.userSignedIn() && tokenAuth.currentUserType == 'USER'">
                                <app-create-comment [tutorial_id]="tutorial.id"></app-create-comment>
                            </div>
                            <div class="border p-2 text-center rounded">
                                <app-get-comments [tutorial_id]="tutorial.id"></app-get-comments>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete" class="modal fade"
    *ngIf="(tokenAuth.currentUserType == 'CONTRACTOR' && tokenAuth.userSignedIn()) || (tokenAuth.currentUserType == 'USER' && tokenAuth.userSignedIn() && added)">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to Remove This from your Blog?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="tutRemove()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="remove" class="modal fade" *ngIf="tokenAuth.currentUserType == 'USER' && tokenAuth.userSignedIn() && added">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to Remove This from your Favorite?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeFav()">Delete</button>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-no-response *ngIf="noResponse"></app-no-response>