@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  // max-width: 400px;
  min-height: 600px; 
  // display: flex;
  // flex-direction: row;
  border-radius: 30px;
  // position: relative;
}
.card h2 {
  color: black;
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 20px;
}
.card .head{
  padding: 0.5rem 1rem;
  font-size: 30px; 
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 16px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
  width: 100%;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 700px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }
}

.bar {
	background: rgb(0, 24, 48);
	width: 100%;
	height: 85px;
	display: flex;
} 

.body{
  min-height: 600px;
}

.favorite {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 3em;
  height: 1em;
  line-height: 1em;
  transform: translateY(-50%);
  color: #6495ed;
  background: #f0f0f0;
  font-size: 1.5em;
  padding: .6em;
  padding-left: 2em;
  text-decoration: none;
  border-radius: .7em;
  overflow: hidden;
  transition: all .2s cubic-bezier(.41,0,.59,1.44);
}
.favorite:hover, .favorite:focus {
  width: 7em;
}
.favorite span {
  transition: all .2s cubic-bezier(.41,0,.59,1.44);
}
.text {
  position: absolute;
  transform: none;
}
.favorite:hover .text, .favorite:focus .text {
  transform: translateY(2em);
}
.h-text {
  position: absolute;
  left: 2em;
  transform: translateY(-2em);
}
.favorite:hover .h-text, a:focus .h-text {
  transform: none;
}

.like {
  position: absolute;
  background: #6495ed;
  color: #f0f0f0;
  padding: .2em .2em .1em;
  font-size: .5em;
  border-radius: .4em;
  border-top-left-radius: 0;
  left: 10px;
  transform: translateY(4em);
}
.like:after {
  content: "";
  width: 20%;
  height: 30%;
  background: #6495ed;
  border-radius: .2em .2em 0 0;
  position: absolute;
  left: 0;
  top: -30%;
}
.favorite:hover .like, .favorite:focus .like {
  transform: none;
}
.fb {
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  left: 20px;
  transform: none;
}
.favorite:hover .fb, .favorite:focus .fb {
  transform: translateY(-2em);
}