<!-- <app-page-banner [title]="title"></app-page-banner> -->
<div class="bar"></div>

<div class="container mt-5 mb-5" *ngIf="!isLoading && !noResponse && tutorial">
    <div class="row justify-content-center body">
        <div class="col-lg-12 text-center">
            <div class="card">
                <div class="card-text">
                    <div class="portada">
                        <img class="img" src="assets/images/pv.jpg">
                    </div>
                    <div class="title-total">

                        <div *ngIf="msg" class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ msg }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                (click)="msg=''">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <h2 class="head bg-success m-2 rounded shadow text-left">{{ tutorial.title }}<a
                                *ngIf="tokenAuth.userSignedIn() && tokenAuth.currentUserType == 'USER'"
                                style="float: right;" class="btn btn-sm btn-danger rounded shadow"
                                (click)="addFav()">Add To Favorite</a><a
                                *ngIf="tokenAuth.userSignedIn() && tokenAuth.currentUserType == 'CONTRACTOR' && tutorial.contractor_id == contractor_id"
                                style="float: right;" class="btn btn-sm btn-danger rounded shadow"
                                (click)="tutRemove()">Remove Tutorial</a></h2>
                        <div class="desc">{{ tutorial.body }}</div>
                        <div class="title" [routerLink]="['/blog/contractors',tutorial.contractor_id]">
                            By: {{ tutorial.contractor.name }}</div>
                        <hr>
                        <div class="desc" [routerLink]="['/blog/categories',tutorial.category_id]">Category:
                            {{ tutorial.category.category }}</div>
                        <hr>
                        <div class="border p-2 m-1 rounded">
                            <div class="border p-2 text-center rounded mb-2">
                                <app-like [tutorial_id]="tutorial.id"></app-like>
                            </div>
                            <div class="border p-2 text-center rounded mb-2"
                                *ngIf="tokenAuth.userSignedIn() && tokenAuth.currentUserType == 'USER'">
                                <app-create-comment [tutorial_id]="tutorial.id"></app-create-comment>
                            </div>
                            <div class="border p-2 text-center rounded">
                                <app-get-comments [tutorial_id]="tutorial.id"></app-get-comments>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-no-response *ngIf="noResponse"></app-no-response>