<app-page-banner [title]="title"></app-page-banner>

<div class="container" *ngIf="!isLoading">
    <div class="row justify-content-center mb-2">
        <div class="col-lg-5 m-2"
            *ngFor="let system of systems_details | paginate: { itemsPerPage: 8, currentPage: p }">
            <div class="flip-card">
                <div class="flip-card-inner text-center" [routerLink]="['/pv-system',system['calculation']['id']]">
                    <div class="flip-card-front p-3 border border-2 border-warning">
                        <h3 class="bg-warning rounded shadow p-1 mb-4 text-dark">PV-System Num:
                            #{{ system['id'] }}</h3>
                        <img src="assets/icon/solar.png" alt="Solar" style="width:100px; height:100px;">
                        <div class="border border-warning rounded p-1 mt-4">
                            <table class="table table-sm table-borderless text-white">
                                <tbody>
                                    <tr>
                                        <th colspan="2"><b>Estimated Cost</b></th>
                                        <td colspan="2">{{ system['cost'] }} EG</td>
                                    </tr>
                                    <tr>
                                        <th><b>System</b></th>
                                        <td>{{ system['backup']? 'BackUp System':'Complete System' }}
                                        </td>
                                        <th><b>Consumption</b></th>
                                        <td>{{ system['consumption'] }}</td>
                                    </tr>
                                    <tr>
                                        <th><b>City</b></th>
                                        <td>{{ system['city'] }}</td>
                                        <th><b>Country</b></th>
                                        <td>{{ system['country'] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="flip-card-back bg-warning p-3 border border-2 border-primary">
                        <h3 class="darkblue rounded shadow p-1 mb-4">PV-System Num:
                            #{{ system['id'] }}</h3>
                        <div class="border border-primary rounded p-1">
                            <table class="table table-sm table-borderless text-white">
                                <tbody>
                                    <tr>
                                        <th>Panel_nums</th>
                                        <td>{{ system['calculation']['panels_num'] }}</td>
                                        <th>Panel_watt</th>
                                        <td>{{ system['calculation']['panel_watt'] }}</td>
                                    </tr>
                                    <tr>
                                        <th>battery_nums</th>
                                        <td>{{ system['calculation']['batteries_num'] }}</td>
                                        <th>battery_Ah</th>
                                        <td>{{ system['calculation']['battery_Ah'] }}</td>
                                    </tr>
                                    <tr>
                                        <th>inverter_nums</th>
                                        <td>{{ system['calculation']['system_circuits'] }}</td>
                                        <th>inverter_watt</th>
                                        <td>{{ system['calculation']['inverter_watt'] }}</td>
                                    </tr>
                                    <tr>
                                        <th>>mppt_nums</th>
                                        <td>{{ system['calculation']['system_circuits'] }}</td>
                                        <th>mppt_amp</th>
                                        <td>{{ system['calculation']['mppt_amp'] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center border rounded pt-3 pr-5">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>