<div class="container" *ngIf="has_offers else noOffersTemplate">
  <div class="row">
    <div class="panel panel-default widget">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span>
        <h3 class="panel-title">
          Your Offers</h3>
        <span class="label label-info">
          78</span>
      </div>
      <a class="clickable">
      <div class="panel-body" *ngFor="let offer of offers">

        <ul class="list-group" *ngIf="offer.id != editOffer">
          <li class="list-group-item" [routerLink]="currentUserID == offer.contractor_id ? ['/profile'] : ['/profile/contractors/'+offer.contractor_id]">
            <div class="row">
              <div class="col-xs-3 col-md-2">
                <img [src]="offer.contractor.avatar_url ? offer.contractor.avatar_url : '/assets/images/avatar.webp'"
                  class="img-circle img-fluid" alt="" /></div>
              <div class="col-xs-10 col-md-8">
                <div>
                  <a >
                    {{offer.proposal}}</a>
                  <div class="mic-info">
                    By: <a href="offers">{{offer.contractor.name}}l</a> on {{offer.created_at}}
                  </div>
                </div>
                <div class="comment-text">
                  Bidding price: {{offer.price}} EP
                </div>
                <div class="action">
                  <button type="button" class="btn btn-primary btn-xs m-1" title="Edit" *ngIf="offer.canManage" (click)="edit(offer.id)">
                    <span class="fa fa-edit"></span>
                  </button>
                  <button type="button" class="btn btn-success btn-xs m-1" *ngIf="currentUserID == postOwner_id" title="Approve">
                    <span class="fa fa-check"></span>
                  </button>
                  <button type="button" class="btn btn-danger btn-xs m-1" *ngIf="offer.canManage" title="Delete" (click)="deleteOffer(offer.id)">
                    <span class="fa fa-trash"></span>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="list-group" *ngIf="offer.id == editOffer">
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-3 col-md-2">
                <img [src]="offer.contractor.avatar_url ? offer.contractor.avatar_url : '/assets/images/avatar.webp'"
                  class="img-circle img-fluid" alt="" /></div>
              <div class="col-xs-10 col-md-8">
                <div>
                  <textarea name='proposal' required class="form-control" placeholder="Enter you proposal" [(ngModel)]="offer.proposal" #proposal="ngModel"></textarea>
                  <div class="mic-info">
                    By: <a href="offers">{{offer.contractor.name}}l</a> on {{offer.created_at}}
                  </div>
                </div>
                <div class="comment-text">
                  <input id="price" type="number" required min="0" name='price' placeholder="Price by EP"
                  [(ngModel)]="offer.price" class=" form-control validate" #price="ngModel">
                </div>
                <div class="action">
                  <button type="button" *ngIf="offer.canManage" class="btn btn-success btn-xs m-1" title="Edit" (click)="onEdit(offer)">
                    Edit
                  </button>
                  <button type="button" class="btn btn-primary btn-xs m-1" title="Back" (click)="edit(offer.id)">
                    Back
                  </button>
                  <button type="button" class="btn btn-success btn-xs m-1" *ngIf="type == 'USER' && currentUserID == postOwner_id" title="Approve">
                    <span class="fa fa-check"></span>
                  </button>
                  <button type="button" *ngIf="offer.canManage" class="btn btn-danger btn-xs m-1" title="Delete" (click)="deleteOffer(offer.id)">
                    <span class="fa fa-trash"></span>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </a>
      <a href="offers" class="btn btn-primary btn-sm btn-block" role="button"><span
          class="glyphicon glyphicon-refresh"></span> More</a>
    </div>
  </div>
</div>

<ng-template #noOffersTemplate>
  <div class="text-center">
    No Offers yet
  </div>
</ng-template>

