<!--================Footer Area =================-->
<footer class="footer_area p-2 white">
    <div class="container mt-4">
        <div class="row footer_inner justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title text-center">
                        <h2>About</h2>
                    </div>
                    <p class="white">If you own an Iphone, you’ve probably already worked out how much fun it is to use it to watch
                        movies-it has that nice big screen, and the sound quality.</p>
                </aside>
            </div>
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget news_widget">
                    <div class="f_title text-center">
                        <h2>Info</h2>
                    </div>
                    <p class="white">Stay updated with our latest trends</p>
                </aside>
            </div>
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget social_widget">
                    <div class="f_title text-center">
                        <h2>Contact</h2>
                    </div>
                    <p class="white">Let us be social</p>
                </aside>
            </div>
        </div>
        <h2 class="mt-4 text-center mb-2">Founders</h2>
        <div class="mb-4 row justify-content-center founders">
            <a href="https://github.com/Ahmed-Abd-elhamid" class="btn rounded shadow mr-3 white">Abdelhamid</a>
            <a href="https://github.com/MuAladdinIbrahim" class="btn rounded shadow mr-3 white">Aladdin</a>
            <a href="https://github.com/Nouran96" class="btn rounded shadow mr-3 white">Nouran</a>
            <a href="https://github.com/zeyadsaleh" class="btn rounded shadow white">Zeyad</a>
        </div>
        <p class="text-center copy-right white">Website_GitHub &copy; <a href="#">SolarCo</a></p>
    </div>
</footer>
<!--================End Footer Area =================-->