<!--================Footer Area =================-->
<footer class="footer_area white p-1">
    <div class="container mt-3">
        <!-- <div class="row footer_inner justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title text-center">
                        <h2>About</h2>
                    </div>
                    <p class="white">If you own an Iphone, you’ve probably already worked out how much fun it is to use it to watch
                        movies-it has that nice big screen, and the sound quality.</p>
                </aside>
            </div>
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget news_widget">
                    <div class="f_title text-center">
                        <h2>Info</h2>
                    </div>
                    <p class="white">Stay updated with our latest trends</p>
                </aside>
            </div>
            <div class="col-lg-4 col-sm-6">
                <aside class="f_widget social_widget">
                    <div class="f_title text-center">
                        <h2>Contact</h2>
                    </div>
                    <p class="white">Let us be social</p>
                </aside>
            </div>
        </div> -->
        <h2 class="text-center mb-4">Founders</h2>
        <div class="mb-5 row justify-content-center founders">
            <a href="https://github.com/Ahmed-Abd-elhamid"
                class="col-sm-5 col-lg-2 btn rounded shadow m-2 white">Abdelhamid</a>
            <a href="https://github.com/MuAladdinIbrahim"
                class="col-sm-5 col-lg-2 btn rounded shadow m-2 white">Aladdin</a>
            <a href="https://github.com/Nouran96" class="col-sm-5 col-lg-2 btn rounded shadow m-2 white">Nouran</a>
            <a href="https://github.com/zeyadsaleh" class="col-sm-5 col-lg-2 btn rounded shadow m-2 white">Zeyad</a>
        </div>
        <p class="text-center copy-right white">Website_CopyRights &copy; <a href="#">SolarCo</a></p>
    </div>
</footer>
<!--================End Footer Area =================-->