    <div class="row justify-content-center" *ngFor="let system of systems">
        <div class="panel panel-default widget" >
            <a class="clickable">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10 col-md-8">
                                    <mat-card>
                                        <mat-card-title class="mb-2 bg-warning rounded shadow p-1" id="{{ system['calculation_id'] }}"
                                            (click)="getCalc(system['calculation_id'])">PV System Data</mat-card-title>
                                        <mat-card-content>
                                            <p><b>Consumption:</b> {{ system['system']['consumption'] }}</p>
                                            <p><b>City:</b> {{ system['system']['city'] }} | <b>Country</b>
                                                {{ system['system']['country'] }}</p>
                                        </mat-card-content>
                                        <mat-card-footer>
                                            <div class="action">
                                                <button type="button" class="btn btn-success btn-xs m-1" title="Show"
                                                    (click)="getCalc(system['calculation_id'])">
                                                    <span>Show</span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs m-1" title="Delete"
                                                    (click)="delete(system['calculation_id'])">
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                            </div>
                                        </mat-card-footer>
                                    </mat-card>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
