<app-page-banner [title]="title"></app-page-banner>
<div class="container" *ngIf="!isLoading">
  <div class="row justify-content-center" *ngIf="!errorMessage">
    <div class="post-card col-lg-7 p-2 m-2 shadow rounded">
      <div class="post-card__nav">
        <ul>
          <li>
            <a [routerLink]="['/posts/',post.id]" class="active"><i class="ion ion-ios-eye"></i></a>
          </li>
        </ul>
      </div>
      <div class="post-card__content m-2">
        <div class="post-card__info">
          <h1>{{post.title}}</h1>
          <button class="btn btn-dark btn-sm" *ngIf="('create' | able: 'Offer') && !applied"
            (click)="sendId(post.id)">Apply</button>
          <h4 class="border border-primary p-1 m-2 text-center rounded"><span>Estimated
              Cost:</span>&nbsp;{{post.system.cost}} EG</h4>
          <h5><span>Posted by:</span>&nbsp;{{post.user.name}}</h5>
          <h5><span>Has:</span>&nbsp;{{post.offers_count}} Offers</h5>
          <h4 *ngIf="post.system.address">
            <span>Location:</span>&nbsp;{{post.system.address}}, {{post.system.city}}, {{post.system.country}}</h4>
          <h4 *ngIf="!post.system.address">
            <span>Location:</span>&nbsp;{{post.system.address}},{{post.system.city}},{{post.system.country}}</h4>
          <h5><span>Posted at</span>&nbsp;{{post.created_at}}</h5>
          <p>{{post.description}}</p>
          <mat-card class="text-center justify-content-center mt-2">
            <mat-card-content class="border border-danger p-1 text-center">
              <table class="table table-sm table-borderless">
                <tbody>
                  <tr>
                    <th>Panel_nums</th>
                    <td>{{ post.system['calculation']['panels_num'] }}</td>
                    <th>Panel_watt</th>
                    <td>{{ post.system['calculation']['panel_watt'] }}</td>
                  </tr>
                  <tr>
                    <th>battery_nums</th>
                    <td>{{ post.system['calculation']['batteries_num'] }}</td>
                    <th>battery_Ah</th>
                    <td>{{ post.system['calculation']['battery_Ah'] }}</td>
                  </tr>
                  <tr>
                    <th>inverter_nums</th>
                    <td>{{ post.system['calculation']['system_circuits'] }}</td>
                    <th>inverter_watt</th>
                    <td>{{ post.system['calculation']['inverter_watt'] }}</td>
                  </tr>
                  <tr>
                    <th>mppt_nums</th>
                    <td>{{ post.system['calculation']['system_circuits'] }}</td>
                    <th>mppt_amp</th>
                    <td>{{ post.system['calculation']['mppt_amp'] }}</td>
                  </tr>
                </tbody>
              </table>
            </mat-card-content>
          </mat-card>
          <div class="text-center mt-4">
            <button class="btn btn-danger mr-2" *ngIf="('destroy' | able: 'Post')  && !post.closed"
              (click)="deletePost(post.id)">Delete</button>
            <button class="btn btn-success" *ngIf="('update' | able: 'Post')  && !post.closed"
              [routerLink]="['/update/posts',post.id]">Update</button>
          </div>
          <div class="border p-2 text-center rounded shadow" *ngIf="post.closed">
            <app-create-rate [offers]="post.offers"></app-create-rate>
            <app-create-comment [offers]="post.offers"></app-create-comment>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 p-2 m-2 shadow rounded">
      <app-offer [post_id]="post.id" [postOwner_id]="post.user_id" (onDeleteOffer)="onDeleteOffer()"></app-offer>
    </div>
  </div>

</div>

<div *ngIf="errorMessage">
  <h2 class="text-center mt-5 mb-5">{{errorMessage}}</h2>
</div>


<app-loading *ngIf="isLoading"></app-loading>

<!-- <ng-template #loading>
  <div class="text-center">
    <div class="spinner-border mt-5 mb-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template> -->