<p>single-post works!</p>
<div class="container">
  <div class="post-card">
    <div class="post-card__nav">
      <ul>
        <li>
          <a href="#" class="active"><i class="ion ion-ios-eye"></i></a>
        </li>
        <li>
          <a href="#"><i class="ion ion-ios-location"></i></a>
        </li>
        <li>
         <a href="#"><i class="ion ion-android-star"></i></a>
        </li>
      </ul>
    </div>
    <div class="post-card__content">
      <div class="post-card__info">
        <h1>{{post.title}}</h1>
        <h5><span>Posted at</span>&nbsp;{{post.created_at}}</h5>
        <p>{{post.description}}</p>
      </div>
    </div>
  </div>
</div>
