<app-page-banner [title]="title"></app-page-banner>
<div class="container m-auto" *ngIf="!isLoading && !noResponse">
  <div class="row justify-content-center" *ngIf="!errorMessage">
    <div class="post-card col-md-7 p-2 m-2 shadow rounded">
      <div class="post-card__nav">
        <ul>
          <li>
            <a [routerLink]="['/posts/',post.id]" class="active"><i class="ion ion-ios-eye"></i></a>
          </li>
        </ul>
      </div>
      <div class="post-card__content">
        <div class="post-card__info">
          <h1>{{post.title}}</h1>
          <button class="btn btn-dark btn-sm" *ngIf="('create' | able: 'Offer') && !applied"
            (click)="sendId(post.id)">Apply</button>
          <h5><span>Posted by:</span>&nbsp;<a
              [routerLink]="tokenAuth.currentUserType=='USER' && userData.id == post.user.id ? ['/profile'] : ['/profile/clients/'+post.user.id]">{{post.user.name}}</a>
          </h5>
          <h5><span>Has:</span>&nbsp;{{post.offers_count == 1 ? 'One Offer' : post.offers_count + ' Offers'}}</h5>
          <h4 *ngIf="post.system.address">
            <span>Location:</span>&nbsp;{{post.system.address}}, {{post.system.city}}, {{post.system.country}}</h4>
          <h4 *ngIf="!post.system.address">
            <span>Location:</span>&nbsp;{{post.system.city}},{{post.system.country}}</h4>
          <h5><span>Posted at</span>&nbsp;{{post.created_at | slice:0:10 }}</h5>
          <p>{{post.description}}</p>
          <mat-card class="text-center justify-content-center mt-2">
            <mat-card-content class="border border-danger p-1 text-center">
              <table class="table table-sm table-borderless" [routerLink]="['/pv-system/',post.system_id]">
                <tbody>
                  <tr>
                    <th>Panel_nums</th>
                    <td>{{ post.system['calculation']['panels_num'] }}</td>
                    <th>Panel_watt</th>
                    <td>{{ post.system['calculation']['panel_watt'] }}</td>
                  </tr>
                  <tr>
                    <th>battery_nums</th>
                    <td>{{ post.system['calculation']['batteries_num'] }}</td>
                    <th>battery_Ah</th>
                    <td>{{ post.system['calculation']['battery_Ah'] }}</td>
                  </tr>
                  <tr>
                    <th>inverter_nums</th>
                    <td>{{ post.system['calculation']['system_circuits'] }}</td>
                    <th>inverter_watt</th>
                    <td>{{ post.system['calculation']['inverter_watt'] }}</td>
                  </tr>
                  <tr>
                    <th>mppt_nums</th>
                    <td>{{ post.system['calculation']['system_circuits'] }}</td>
                    <th>mppt_amp</th>
                    <td>{{ post.system['calculation']['mppt_amp'] }}</td>
                  </tr>
                </tbody>
              </table>
            </mat-card-content>
          </mat-card>
          <div class="text-center mt-4">
            <button href="#deletePost" data-toggle="modal" class="btn btn-danger mr-2"
              *ngIf="('destroy' | able: 'Post') && !post.closed && !approved">Delete</button>
            <button class="btn btn-success" *ngIf="('update' | able: 'Post') && !post.closed && !approved"
              [routerLink]="['/update/posts',post.id]">Update</button>
          </div>
          <div class="border p-2 text-center rounded shadow"
            *ngIf="(post.closed || approved) && tokenAuth.userSignedIn() && tokenAuth.currentUserType == 'USER'">
            <app-create-rate [offer_id]="offer_id"></app-create-rate>
            <app-create-comment [offer_id]="offer_id"></app-create-comment>
          </div>
          <div class="border p-2 text-center rounded shadow"
            *ngIf="(post.closed || approved) && tokenAuth.userSignedIn() && tokenAuth.currentUserType == 'CONTRACTOR'">
            <app-get-rate [offer_id]="offer_id"></app-get-rate>
            <app-get-comment [offer_id]="offer_id"></app-get-comment>
          </div>
        </div>
      </div>



      <!-- Modal delete HTML -->
      <div id="deletePost" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header">
              <div class="icon-box">
                <i class="material-icons">&#xE5CD;</i>
              </div>
              <h4 class="modal-title">Are you sure?</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <p>Do you really want to delete your post? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal"
                (click)="deletePost(post.id)">Delete</button>
            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col-md-4 p-2 m-2 shadow rounded">
      <app-offer [post_id]="post.id" [postOwner_id]="post.user_id" (onDeleteOffer)="onDeleteOffer()"
        (onApproveOffer)="onApproveOffer($event)"></app-offer>
    </div>
  </div>
</div>

<div class="errorMessage" *ngIf="errorMessage">
  <h2 class="text-center mt-5 mb-5">{{errorMessage}}</h2>
</div>


<app-loading *ngIf="isLoading"></app-loading>
<app-no-response *ngIf="noResponse"></app-no-response>

<!-- <ng-template #loading>
  <div class="text-center">
    <div class="spinner-border mt-5 mb-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template> -->
