<div *ngIf="has_offers else noOffersTemplate" class="spacing">
  <div *ngFor="let offer of offers | paginate: { itemsPerPage: 4, currentPage: p }">
    <div class="container">
      <div class="post-card">
        <div class="post-card__nav">
          <ul>
            <li>
              <a [routerLink]="['/posts/',offer.post.id]" class="active"><i class="fas fa-eye"></i></a>
            </li>

          </ul>
        </div>
        <div class="post-card__content">
          <div class="post-card__info">
            <h1> Post Title: {{offer.post.title}}</h1>
            <h4><span>Price:</span>&nbsp;{{offer.price}} EP</h4>
            <h5><span>Offerd at</span>&nbsp;{{offer.created_at}}</h5>
            <h4><strong> Your Proposal: </strong> {{offer.proposal}}</h4>
            <h3 class="text-dark" *ngIf="offer.post.closed">Status: <span
                [ngClass]="{'text-success': offer.status == 'accepted', 'text-danger': offer.status == 'rejected'}">
                {{offer.status}} </span></h3>
            <a [routerLink]="['/posts/',offer.post.id]">See Post</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center border rounded pt-3 pr-5">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>

<ng-template #noOffersTemplate>
  <div class="text-center">
    No Offers yet
  </div>
</ng-template>
