<!--================Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu" id="mainNav">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" [routerLink]="['']"><span class="text-white white mr-4"><img class="icon"
              src="assets/icon/solar.png" alt="Solar"> SolarCo</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav">
            <li *ngIf="tokenAuthService.userSignedIn() && tokenAuthService.currentUserType == 'USER'" class="nav-item"><a class="nav-link"
              [routerLink]="['/profile']" style="font-size: 16px;"> Calculate
              <!-- <span class="material-icons">
                account_box
              </span> -->
            </a>
          </li>
          </ul>
          <ul class="nav navbar-nav menu_nav ml-auto">
            <!-- <li *ngIf="tokenAuthService.currentUserType == 'CONTRACTOR' && tokenAuthService.userSignedIn()"
              class="nav-item"><a class="nav-link " [routerLink]="['/posts']" style="font-size: 16px;">POSTS</a>
            <li *ngIf="tokenAuthService.currentUserType == 'USER' && tokenAuthService.userSignedIn()" class="nav-item">
              <a class="nav-link " [routerLink]="['/profile/posts']" style="font-size: 16px;">POSTS</a> -->
            <li *ngIf="tokenAuthService.userSignedIn()" class="nav-item mt-1"><a class="nav-link"
                [routerLink]="['/notifications']">
                <p class="m-0 icon">
                  <span class="circle"></span>
                  <mat-icon matBadge="5454" matBadgeColor="warn" class="">notifications</mat-icon>
                </p>
              </a>
            </li>
            <li *ngIf="tokenAuthService.userSignedIn()" class="nav-item"><a class="nav-link"
                [routerLink]="['/inbox']" style="font-size: 16px;"> Chat
                <!-- <span class="material-icons">
                  chat_bubble
                </span> -->
              </a>
            </li>
            <li *ngIf="tokenAuthService.userSignedIn()" class="nav-item"><a class="nav-link"
                [routerLink]="['/profile']" style="font-size: 16px;"> Profile
                <!-- <span class="material-icons">
                  account_box
                </span> -->
              </a>
            </li>
            <li *ngIf="!tokenAuthService.userSignedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/login']"
                style="font-size: 16px;">Log In</a>
            <li *ngIf="!tokenAuthService.userSignedIn()" class="nav-item"><a class="nav-link"
                [routerLink]="['/register']" style="font-size: 16px;">Sign Up</a>
            <li *ngIf="tokenAuthService.userSignedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/']"
                (click)="signOut()" style="font-size: 16px;"> LOGOUT</a>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->