<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a class="nav-link mt-2 text-white material-icons" [routerLink]="['']">home</a></span>
    <span *ngIf="tokenAuthService.userSignedIn() && ('create' | able: 'Calculation')"><a class="nav-link mt-2 text-white material-icons" [routerLink]="['/user-input']">SOLAR</a></span>
    <span *ngIf="tokenAuthService.userSignedIn()"><a class="nav-link mt-2 text-white material-icons" [routerLink]="['/profile']">PROFILE</a></span>
    <span *ngIf="tokenAuthService.userSignedIn()"><a class="nav-link mt-2 text-white material-icons" [routerLink]="['/posts']">POSTS</a></span>
    <span class="example-spacer"></span>
    <span *ngIf="!tokenAuthService.userSignedIn()"><a class="nav-link mt-2 text-white material-icons" [routerLink]="['/login']" >LOGIN</a></span>
    <span  *ngIf="!tokenAuthService.userSignedIn()"> <a class="nav-link mt-2 text-white material-icons" [routerLink]="['/register']">REGISTER</a></span>
    <span *ngIf="tokenAuthService.userSignedIn()"><a class="nav-link mt-2 text-white material-icons" [routerLink]="['/']" (click)="signOut()">LOGOUT</a></span>
  </mat-toolbar-row>
</mat-toolbar> -->
<!--================Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu" id="mainNav">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" [routerLink]="['/']"><span class="text-white font-weight-bold mt-3"><h3>Solarco</h3></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item active"><a class="nav-link mt-3" [routerLink]="['/home']"><h4>Home</h4></a></li>
            <li *ngIf="('create' | able: 'Calculation')" class="nav-item"><a class="nav-link mt-3" [routerLink]="['/pv-system/user-info']"><h4>Calculate</h4></a>
            <li *ngIf="tokenAuthService.currentUserType == 'CONTRACTOR'" class="nav-item"><a class="nav-link mt-3" [routerLink]="['/posts']"><h4>Posts</h4></a>
            <li *ngIf="tokenAuthService.userSignedIn()" class="nav-item"><a class="nav-link mt-3" [routerLink]="['/profile']"><h4>Profile</h4></a></li>
            <li *ngIf="!tokenAuthService.userSignedIn()" class="nav-item"><a class="nav-link mt-3" [routerLink]="['/login']"><h4>Login</h4></a>
            <li *ngIf="!tokenAuthService.userSignedIn()" class="nav-item"><a class="nav-link mt-3" [routerLink]="['/register']"><h4>Register</h4></a>
            <li *ngIf="tokenAuthService.userSignedIn()" class="nav-item"><a class="nav-link mt-3" [routerLink]="['/']" (click)="signOut()"><h4>Logout</h4></a>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->