<app-page-banner *ngIf="!toProfile" [title]="title"></app-page-banner>

<div *ngIf="!isLoading else loading" class="spacing">
  <div *ngFor="let post of posts">
    <div class="container">
      <div class="post-card">
        <div class="post-card__nav">
          <ul>
            <li>
              <a href="#" class="active"><i class="fas fa-eye"></i></a>
            </li>
            <li>
              <a href="#"><i class="far fa-address-card"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-angellist"></i></a>
            </li>
          </ul>
        </div>
        <div class="post-card__content">
          <div class="post-card__info">
            <button class="btn btn-info btn-sm mr-2" *ngIf="('manage' | able: 'Post')" (click)="deletePost(post.id)">Delete</button>
            <button class="btn btn-primary btn-sm" *ngIf="('manage' | able: 'Post')" [routerLink]="['/update/posts',post.id]">Update</button>
            <h1>{{post.title}}</h1>
            <button class="btn btn-dark btn-sm" *ngIf="('manage' | able: 'Offer')" (click)="sendId(post.id)">Apply</button>
            <h5><span>Posted By</span>&nbsp;{{post.user.name}}</h5>
            <h4><span>Location:</span>&nbsp;{{post.system.city}}, {{post.system.country}}</h4>
            <h5><span>Posted at</span>&nbsp;{{post.created_at}}</h5>
            <!-- <p>{{post.description}}</p> -->
              <mat-card>
                  <mat-card-title class="bg-dark rounded shadow text-white p-1">PV System Data</mat-card-title>
                  <hr>
                  <mat-card-content class="border rounded p-3">
                      <p><b>Total Panels:</b> {{post.system.calculation.panels_num}}</p>
                      <p><b>Panel Watt:</b> {{post.system.calculation.panel_watt}}</p>
                      <p><b>Total Batteries:</b> {{post.system.calculation.batteries_num}}</p>
                      <p><b>Battery AH:</b> {{post.system.calculation.battery_Ah}}</p>
                      <p><b>Inverter Watt:</b> {{post.system.calculation.inverter_watt}}</p>
                      <p><b>Mppt Amper:</b> {{post.system.calculation.mppt_amp}}</p>
                      <p><b>Total Circuits:</b> {{post.system.calculation.system_circuits}}</p>
                  </mat-card-content>
              </mat-card>
            <a [routerLink]="['/posts/',post.id]">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
