<app-page-banner *ngIf="!toProfile" [title]="title"></app-page-banner>

<div *ngIf="!isLoading && !noResponse && posts.length > 0" class="spacing">
  <div *ngFor="let post of posts | paginate: { itemsPerPage: 7, currentPage: p }">
    <div class="container">
      <div class="post-card">
        <div class="post-card__nav">
          <ul>
            <li>
              <a [routerLink]="['/posts/',post.id]" class="active"><i class="fas fa-eye"></i></a>
            </li>
            <li>
              <a><i class="fa fa-handshake-o">Has {{post.offers_count}} Offers</i></a>
            </li>
          </ul>
        </div>
        <div class="post-card__content m-2">
          <div class="post-card__info">
            <button class="btn btn-info btn-sm mt-2 mr-2" *ngIf="('manage' | able: 'Post')"
              (click)="deletePost(post.id)">Delete</button>
            <button class="btn btn-primary btn-sm" *ngIf="('manage' | able: 'Post')"
              [routerLink]="['/update/posts',post.id]">Update</button>
            <h1 [routerLink]="['/posts/',post.id]">{{post.title}}</h1>
            <button class="btn btn-dark btn-sm mt-2" *ngIf="('manage' | able: 'Offer')"
              (click)="sendId(post.id)">Apply</button>
            <h4 class="border border-primary p-1 m-2 text-center rounded"><span>Estimated
                Cost:</span>&nbsp;{{post.system.cost}} EG</h4>
            <h5><span>Posted by:</span>&nbsp;{{post.user.name}}</h5>
            <h4 *ngIf="post.system.address">
              <span>Location:</span>&nbsp;{{post.system.address}}, {{post.system.city}}, {{post.system.country}}</h4>
            <h4 *ngIf="!post.system.address">
              <span>Location:</span>&nbsp;{{post.system.address}},{{post.system.city}},{{post.system.country}}</h4>
            <h5><span>Posted at</span>&nbsp;{{post.created_at}}</h5>
            <p>{{post.description}}</p>
            <mat-card class="text-center mt-2">
              <mat-card-content class="border border-danger p-1 text-center">
                <table class="table table-sm table-borderless" [routerLink]="['/pv-system/',post.system_id]">
                  <tbody>
                    <tr>
                      <th>Panel_nums</th>
                      <td>{{ post.system['calculation']['panels_num'] }}</td>
                      <th>Panel_watt</th>
                      <td>{{ post.system['calculation']['panel_watt'] }}</td>
                    </tr>
                    <tr>
                      <th>battery_nums</th>
                      <td>{{ post.system['calculation']['batteries_num'] }}</td>
                      <th>battery_Ah</th>
                      <td>{{ post.system['calculation']['battery_Ah'] }}</td>
                    </tr>
                    <tr>
                      <th>inverter_nums</th>
                      <td>{{ post.system['calculation']['system_circuits'] }}</td>
                      <th>inverter_watt</th>
                      <td>{{ post.system['calculation']['inverter_watt'] }}</td>
                    </tr>
                    <tr>
                      <th>mppt_nums</th>
                      <td>{{ post.system['calculation']['system_circuits'] }}</td>
                      <th>mppt_amp</th>
                      <td>{{ post.system['calculation']['mppt_amp'] }}</td>
                    </tr>
                  </tbody>
                </table>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center border rounded pt-3 pr-5">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>

<div *ngIf="!isLoading && !noResponse && posts.length == 0" class="mt-5">
  <p class="text-center">No Posts Found</p>
</div>

<app-no-response *ngIf="noResponse"></app-no-response>
<app-loading *ngIf="isLoading"></app-loading>
<!-- <ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template> -->