/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~font-awesome/css/font-awesome.css';
@import 'assets/css/style.css';
@import 'assets/css/responsive.css';

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner-border {
    margin-top: 28%;
    width: 3rem;
    height: 3rem;
}
