<div>
  <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error=''">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <span class="heading">User Rating</span>
  <span [className]="rate >= 1 ? 'fa fa-star checked':'fa fa-star'"></span>
  <span [className]="rate >= 2 ? 'fa fa-star checked':'fa fa-star'"></span>
  <span [className]="rate >= 3 ? 'fa fa-star checked':'fa fa-star'"></span>
  <span [className]="rate >= 4 ? 'fa fa-star checked':'fa fa-star'"></span>
  <span [className]="rate >= 5 ? 'fa fa-star checked':'fa fa-star'"></span>
  <p>{{ rate }} average based on {{ users }} reviews.</p>
  <hr style="border:3px solid #f1f1f1">

  <div class="row">
    <div class="side">
      <div>5 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-5" [style.width.%]="(this.rate_obj['5']*100)/users"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{ rate_obj[5] }}</div>
    </div>
    <div class="side">
      <div>4 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-4" [style.width.%]="(this.rate_obj['4']*100)/users"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{ rate_obj[4] }}</div>
    </div>
    <div class="side">
      <div>3 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-3" [style.width.%]="(this.rate_obj['3']*100)/users"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{ rate_obj[3] }}</div>
    </div>
    <div class="side">
      <div>2 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-2" [style.width.%]="(this.rate_obj['2']*100)/users"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{ rate_obj[2] }}</div>
    </div>
    <div class="side">
      <div>1 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-1" [style.width.%]="(this.rate_obj['1']*100)/users"></div>
      </div>
    </div>
    <div class="side right">
      <div>{{ rate_obj[1] }}</div>
    </div>
  </div>
  <hr style="border:3px solid #f1f1f1">
</div>