<div class="container">
    <div class="row justify-content-center text-center">
        <mat-card>
            <mat-card-title>Electricity Consumption</mat-card-title>
            <mat-card-content>
                <mat-form-field class="example-form-field">
                    <mat-label>Electricity Consumption</mat-label>
                    <input matInput type="number" [(ngModel)]="client_request['consump']" />
                    <mat-hint align="start"><strong>Consumption per month (kwh)</strong> </mat-hint>
                    <mat-hint align="end"> {{ client_request['consump'] }} </mat-hint>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions *ngIf="client_request['consump']">
                <a mat-button class="btn btn-sm btn-warning" (click)="getLocation()">GetLocation</a>
                <a mat-button class="btn btn-sm btn-primary" (click)="confirm()">Confirm</a>
            </mat-card-actions>
            <mat-card-footer class="text-center" *ngIf="client_request['consump']">
                <p class="text-warning text-center" *ngIf="!client_request['lat']">you can Igonre GetLocation, If it's not allowed</p>
                <p class="text-success text-center" *ngIf="client_request['lat']">We Get Your Location succeffully!</p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
