<app-page-banner [title]="title"></app-page-banner>
<div class="container spacing">
    <div class="row justify-content-center text-center">
        <mat-card>
            <mat-card-title class="rounded shadow text-white p-2">Electricity Consumption</mat-card-title>
            <hr>
            <div *ngIf="error || (client_request['consump'] && client_request['consump'] <= 0)"
                class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <span *ngIf="client_request['consump'] && client_request['consump'] <= 0">The Consumption input not
                    valid!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error=''">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <mat-card-content class="border rounded p-1">
                <mat-form-field class="example-form-field">
                    <mat-label>Electricity Consumption</mat-label>
                    <input matInput type="number" [(ngModel)]="client_request['consump']" min="0" max="1000" />
                    <mat-hint align="start"><strong>Consumption per month (kwh)</strong> </mat-hint>
                    <mat-hint align="end"> {{ client_request['consump'] }} </mat-hint>
                </mat-form-field>
                <hr>
                <div>
                    <div class="text-dark rounded text-center mb-2">
                        <input type="checkbox" [checked]="backup" (change)="backup = !backup" />
                        <h6 style="display: inline;">&nbsp;&nbsp; As BackUp (unchecked: CompleteSystem)</h6>
                    </div>
                    <p class="ml-5 mr-5 border rounded p-2"><b>Backup System:</b> will cover part of electricity, So it
                        can be
                        as backup, if
                        electricity cut-off.. or to be a main source for light electric loads.. it's a best
                        choice to start with solar energy with less cost!</p>
                </div>
                <div *ngIf="location">
                    <hr>
                    <app-map></app-map>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mbuttont-button class="btn rounded shadow btn-outline-success" *ngIf="!location"
                    (click)="getLoc()">Get Location</button>
                <button mat-button class="btn rounded shadow btn-outline-primary m-2"
                    [disabled]="client_request['consump'] < 1" (click)="confirm()">Confirm</button>
                <button mat-button class="btn rounded btn-outline-dark" *ngIf="location" (click)="getLoc()">Ignore
                    Location</button>
            </mat-card-actions>
            <mat-card-footer class="text-center">
                <p class="bg-warning text-dark mr-3 ml-3 rounded text-center p-1" *ngIf="!location">Ignoring Get
                    location, will set system for your current location now!</p>
                <p class="bg-success text-dark mr-3 ml-3 rounded text-center p-1" *ngIf="location">We are permitted to get
                    location!</p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>