<div class="main">
    <div class="contacts-title">Contacts</div>
    <ul *ngIf="!isLoading && !noResponse">
        <li *ngFor="let contact of contacts" (click)="onUserSelected(contact)"
            [ngClass]="{ active: contact.id === activeUser?.id }">
            <div class="image-container">
                <img [src]="contact.avatar ? contact.avatar : '/assets/images/avatar.webp'" width="36px" height="37px" />
                <span class="circle" [ngClass]="contact.status === 'online' ? 'on' : 'off'"></span>
            </div>
            <div class="contacts-info">
                <span class="status-title">{{ contact.name }}</span>
            </div>
        </li>
    </ul>
    <app-no-response *ngIf="noResponse"></app-no-response>
</div>